
<% layout('/layouts/boilerplate') -%> 

<body>
    <h2>Update Your Previous Listing</h2>
    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT">
        <input type="text" name="title"  value="<%= listing.title %>"><br><br>
        <textarea type="text" name="description" rows="10" cols="30"><%= listing.description %></textarea><br><br>
        <input type="text" name="image" value="<%= listing.image.url %>"><br><br>
        <input type="number" name="price"  value="<%= listing.price %>"><br><br>
        <input type="text" name="location"  value="<%= listing.location %>"><br><br>
        <input type="text" name="country"  value="<%= listing.country %>"><br><br>
        <button>Update</button>
    </form>
    
</body>
